{% extends "base.html" %}
{% block title %}Armas{% endblock %}
{% block content %}
<h2 class="text-center mt-4 mb-4">Lista de Armas</h2>
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">AK-47</h5>
                <p class="card-text">Rifle poderoso para CTs e Ts.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">AWP</h5>
                <p class="card-text">Sniper de longo alcance.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">M4A4</h5>
                <p class="card-text">Rifle padrão para CTs.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}